.footer {
    text-align: center;
    padding-bottom: rem(32);
    &__title {
        font-family: Open Sans;
        font-size: rem(12);
        line-height: rem(16);
        color: $lightBlack;
    }
}